<footer class="footer-section" data-aos="fade-up">
	<div class="container" id = contactUs>
		<div class="footer-cta pt-5 pb-5">
			<div class="row">
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="fas fa-map-marker-alt"></i>
						<div class="cta-text">
							<h4>Find us</h4> <span>UnYoung India Pvt. Ltd.</span> </div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="fas fa-phone"></i>
						<div class="cta-text">
							<h4>Call us</h4> <span>+91 9929 588 910</span> </div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="far fa-envelope-open"></i>
						<div class="cta-text">
							<h4>Mail us</h4> <span>info@njoyurage.com</span> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-content pt-5 pb-5">
			<div class="row">
				<div class="col-xl-4 col-lg-4 mb-50">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html"><img src="/images/logo.png" style="width: 30%;" class="img-fluid" alt="logo"></a>
						</div>
						<div class="footer-text">
							<p>UnYoung India Pvt. Ltd. 2nd Floor <br>Bhamashah Technohub Sansthan Path,<br> Jhalana Gram, Malviya Nagar, Jaipur – 302017</p>
						</div>
						<div class="footer-social-icon"> <span>Follow us</span> <a href="https://www.facebook.com/njoyurage/"><i class="fab fa-facebook-f facebook-bg"></i></a> <a href="https://www.linkedin.com/company/njoyurage/"><i class="fab fa-linkedin linkedin-bg"></i></a> <a href="https://www.linkedin.com/company/njoyurage/"><i class="fab fa-youtube youtube-bg"></i></a> </div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
					<div class="footer-widget">
						<div class="footer-widget-heading">
							<h3>Useful Links</h3> </div>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/services">Services</a></li>
							<li><a href="#">Download App</a></li>
							<li><a href="/#contactUs">Contact</a></li>
							<li><a href="/blogs">Blogs</a></li>
							<li><a href="/vlogs">Vlogs</a></li>
							<li><a href="/admin">Admin</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-50">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14236.464122854435!2d75.8185571!3d26.8680544!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3708a6ae96453829!2sBhamashah%20Techno%20Hub!5e0!3m2!1sen!2sin!4v1617362609087!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
				</div>
			</div>
		</div>
	</div>
</footer>