<%- include("partials/header") %>
<%- include("partials/navbar") %>



<div class="container" style="max-width:95%;">
    <div class="about-page-heading">
        <h6>
            We at NJOYURAGE
        </h6>
        <h1>
            Our bulding are inspired by <br>
            the challenge of balancing function & beauty .
        </h1>

    </div>
    <div class=" w3-section">
        <img class="mySlides" src="/images/slider-img-1.jpg" style="width:100%">
        <img class="mySlides" src="/images/slider-img-2.jpg" style="width:100%">
        <img class="mySlides" src="/images/slider-img-3.jpg" style="width:100%">
    </div>
</div>

<div class="container" style="max-width:93.5%">
    <div class="row">
        <div class="col-md-6 position-relative image-container" >
            <div class="text">Our<br>Concept</div>
        </div>
        <div class="col-md-6 about-page-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Mi eget mauris pharetra et ultrices neque ornare aenean. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Sit amet est placerat in egestas. Justo eget magna fermentum iaculis eu non diam. Rhoncus est pellentesque elit ullamcorper dignissim cras. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Fermentum posuere urna nec tincidunt praesent semper feugiat. Mi proin sed libero enim sed faucibus. Malesuada pellentesque elit eget gravida cum. Cursus in hac habitasse platea. Adipiscing bibendum est ultricies integer quis auctor elit sed. Eros in cursus turpis massa tincidunt dui ut ornare lectus.
        </div>
    </div>
</div>


<section id="team" class="eternal-container-full-width bg-grey container" style = "margin: 30px auto;    padding: 50px 0;">
    	<div class="eternal-container row-wm" style="position: relative;">
            <div class="row">
        	<div class="name-container col-xs-4">
                <h2 class="eternal-subtitle">
                Our Team
                </h2>
                <h2 class="eternal-title">
                We Are<br> The Best
                </h2>
            </div>
            <div class="description-container col-xs-8">
            	<div class="description">
                Morbi tellus elit, fermentum ultrices purus sed, mattis gravida dui. Aenean dapibus odio eget urna efficitur pulvinar. Pellentesque nec lorem diam. Morbi dictum tortor nec ante placerat tempor. In eget interdum libero. Vestibulum tristique, felis sit amet congue ultricies, lacus dui varius metus, nec accumsan ante lorem id lectus. Sed venenatis et diam at dignissim.
                </div>
            </div>
            </div>
            <div class="clear"></div>  
            <div class="container-row our-team">
                <div class="row" style="--bs-gutter-x: 0rem;">
                <div class="item-features col-xs-4">
                	<div class="item-team-container">
                    	<img src="http://themes.ad-theme.com/html/eternal/img/team1.jpg" class="item-portfolio-image" alt="team 1">
                        <div class="item-team-info">
                        	<div class="item-team-info-container">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>  
                            </div>
                        </div>
                    </div>
                    <div class="item-team-member">
                    	<h2 class="team-member-name">ALEX WERPITONS</h2>
                        <h2 class="team-member-profession">ART DIRECTOR</h2>
                    </div>  
                </div>
                
                <div class="item-features col-xs-4" style="margin-right: 33.3px;">
                	<div class="item-team-container">
                    	<img src="http://themes.ad-theme.com/html/eternal/img/team1.jpg" class="item-portfolio-image" alt="team 2">
                        <div class="item-team-info">
                        	<div class="item-team-info-container">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>  
                            </div>
                        </div>
                    </div>
                    <div class="item-team-member">
                    	<h2 class="team-member-name">DAVID HALLISSON</h2>
                        <h2 class="team-member-profession">WEB DEVELOPER</h2>
                    </div>                  
                </div>
                <div class="item-features col-xs-4" style="margin-right: 33.3px;">
                	<div class="item-team-container">
                    	<img src="http://themes.ad-theme.com/html/eternal/img/team1.jpg" class="item-portfolio-image" alt="team 3">
                        <div class="item-team-info">
                        	<div class="item-team-info-container">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>  
                            </div>
                        </div>
                    </div>
                    <div class="item-team-member">
                    	<h2 class="team-member-name">ALAN COLLWER</h2>
                        <h2 class="team-member-profession">WEB DESIGN</h2>
                    </div>                                 
                </div>
            </div>
                <div class="clear"></div>
            </div>           
    	</div>
    </section>





<%- include("partials/footer") %>