<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="container headContainer">
	<div class="row">
		<div class="col-md-12">
			<div class="single-item-rtl">
				<div class="simage1 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
				<div class="simage2 simage">
					<div class="row">
						<div class="col-md-12">
							<div class=" setupM"> </div>
						</div>
					</div>
				</div>
				<div class="simage3 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
				<div class="simage4 simage">
					<div class="row">
						<div class="col-md-12">
							<div class=" setupM"> </div>
						</div>
					</div>
				</div>
				<div class="simage5 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<svg id="banner_svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<path d="M 100 100 V 10 L 0 100"></path>
	<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
</svg>
<div class="aboutContainer container">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#FFB300" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#FFB300" stroke-width="0"></path>
	</svg>
	<div class="row">
		<h1 class="aboutHeading">
            About Us
        </h1>
		<div class="col-md-5 aboutText">
			<div class="heading">
				<h3>
                    Know About us
                </h3> </div>
			<div class="aboutPara">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Imperdiet nulla malesuada pellentesque elit eget gravida. Mauris commodo quis imperdiet massa. Justo nec ultrices dui sapien eget mi. Et sollicitudin ac orci phasellus egestas tellus rutrum. Eget sit amet tellus cras adipiscing enim eu turpis egestas. Risus feugiat in ante metus dictum at tempor commodo. Egestas pretium aenean pharetra magna ac. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Tincidunt eget nullam non nisi est sit amet. </p>
			</div>
		</div>
		<div class="col-md-7 abcd">
			<div class="skills-charts">
				<div id="myCanvasContainer">
					<canvas width="500" height="500" id="myCanvas" style="width: 80%; margin:5% 10%">
						<p>Anything in here will be replaced on browsers that support the canvas element</p>
					</canvas>
				</div>
				<div id="tags">
					<ul>
						<li> <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML 5</a> </li>
						<li><a data-weight="25" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a></li>
						<li><a data-weight="25" href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a></li>
						<li><a data-weight="25" href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">TypeScript</a></li>
						<li><a data-weight="24" href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a></li>
						<li><a data-weight="14" href="https://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a></li>
						<li><a data-weight="13" href="https://en.wikipedia.org/wiki/XML" target="_blank">XML</a></li>
						<li><a data-weight="27" href="https://en.wikipedia.org/wiki/AngularJS" target="_blank">Angular 2+</a></li>
						<li><a data-weight="26" href="https://en.wikipedia.org/wiki/WordPress" target="_blank">Wordpress</a></li>
						<li><a data-weight="21" href="https://en.wikipedia.org/wiki/Node.js" target="_blank">Node JS</a></li>
						<li><a data-weight="17" href="https://en.wikipedia.org/wiki/Git" target="_blank">Git</a></li>
						<li><a data-weight="17" href="" target="_blank">_lodash</a></li>
						<li><a data-weight="23" href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">Bootstrap</a></li>
						<li><a data-weight="15" href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)" target="_blank">SASS</a></li>
						<li><a data-weight="20" href="https://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">RxJs</a></li>
						<li><a data-weight="19" href="https://en.wikipedia.org/wiki/JQuery" target="_blank">jQuery</a></li>
						<li><a data-weight="19" href="http://mongoosejs.com/" target="_blank">NoSQl</a></li>
						<li><a data-weight="19" href="https://karma-runner.github.io/1.0/index.html" target="_blank">Karma</a></li>
						<li><a data-weight="19" href="http://gulpjs.com/" target="_blank">Gulp</a></li>
						<li><a data-weight="19" href="https://www.npmjs.com/" target="_blank">npm</a></li>
						<li><a data-weight="19" href="https://bower.io/" target="_blank">Bower</a></li>
						<li><a data-weight="19" href="https://en.wikipedia.org/wiki/BEM" target="_blank">BEM</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</div>
<section class="container vlogsSection">
	<div class="row">
		<div class="col-md-12">
			<div class="vlogsHeadingTop">
				<h1 class="vlogsHeading">
                    Vlogs
                </h1> </div>
		</div>
		<div class="col-md-12">
			<section class="swiper-container loading swipe1">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271965.jpg)"> <img src="https://wallpaperaccess.com/full/271965.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Shaun Matthews</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/30100.jpg)"> <img src="https://wallpaperaccess.com/full/30100.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Alexis Berry</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271963.jpg)"> <img src="https://wallpaperaccess.com/full/271963.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Billie Pierce</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271968.jpg)"> <img src="https://wallpaperaccess.com/full/271968.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Trevor Copeland</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/232550.jpg)"> <img src="https://wallpaperaccess.com/full/232550.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Bernadette Newman</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>
			</section>
		</div>
	</div>
</section>
<section class="container blogContainer">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#5A13F2" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#5A13F2" stroke-width="0"></path>
	</svg>
	<div class="row">
		<h1 class="top-head-blog">Blogs</h1>
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog"> <img src="https://www.iamabiker.com/wp-content/uploads/2018/04/Royal-Enfield-Thunderbird-350X-HD-wallpapers-1.jpg" alt="" srcset="" class="img-fluid rounded float-start"> </div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog"> <img src="https://www.iamabiker.com/wp-content/uploads/2018/04/Royal-Enfield-Thunderbird-350X-HD-wallpapers-1.jpg" alt="" srcset="" class="img-fluid rounded float-start"> </div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog"> <img src="https://www.iamabiker.com/wp-content/uploads/2018/04/Royal-Enfield-Thunderbird-350X-HD-wallpapers-1.jpg" alt="" srcset="" class="img-fluid rounded float-start"> </div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section class="spacer container">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#8a2be2" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#8a2be2" stroke-width="0"></path>
	</svg>
	<h1 style="text-align: center; color: #ffffff">Testmonials</h1>
	<div class="testimonial-section">
		<div class="testi-user-img">
			<div class="swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide"> <img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u1" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u4" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
				</div>
			</div>
		</div>
		<div class="user-saying">
			<div class="swiper-container testimonial swipe2">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper ">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination swiper-pagination-white"></div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section id="title">
    <svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ff4c68" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ff4c68" stroke-width="0"></path>
	</svg>
<div class="container-fluid cont">
<div class="row">
  <div class="col-lg-6">
    <div>
      <h1 class="h1">Meet new and interesting dogs nearby.</h1>
      <button type="button" class="btn btn-dark btn-lg download-button"><svg class="svg-inline--fa fa-apple fa-w-12" aria-hidden="true" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376 512" data-fa-i2svg=""><path fill="currentColor" d="M314.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C59.3 141.2 0 184.8 0 273.5c0 26.2 4.8 53.3 14.4 81.2 12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg><!-- <i class="fab fa-apple"></i> --> Downloads</button>
      <button type="button" class="btn btn-outline-light btn-lg download-button"><svg class="svg-inline--fa fa-google-play fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"></path></svg><!-- <i class="fab fa-google-play"></i> --> Downloads</button>
    </div>
   </div>
  <div class="col-lg-6">
    <div>
      <img src="/images/iphone6.png" alt="iphone-mockup" class="title-image">
    </div>
  </div>
</div>
</div>
<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M 100 100 V 10 L 0 100"></path>
    <path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
</svg>
</section>
<div class="container contactUs">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#000000" stroke-width="0"></path>
	</svg>
	<div class="row">
		<h1>contact us</h1> </div>
	<div class="row">
		<h4 style="text-align:center">We'd love to hear from you!</h4> </div>
	<div class="row input-container">
		<div class="col-xs-12">
			<div class="styled-input wide">
				<input type="text" required />
				<label>Name</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="styled-input">
				<input type="text" required />
				<label>Email</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="styled-input" style="float:right;">
				<input type="text" required />
				<label>Phone Number</label>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="styled-input wide">
				<textarea required></textarea>
				<label>Message</label>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="btn-lrg submit-btn">Send Message</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</div>
<footer class="footer-section">
    <svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#151414" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#151414" stroke-width="0"></path>
	</svg>
	<div class="container">
		<div class="footer-cta pt-5 pb-5">
			<div class="row">
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="fas fa-map-marker-alt"></i>
						<div class="cta-text">
							<h4>Find us</h4> <span>1010 Avenue, sw 54321, chandigarh</span> </div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="fas fa-phone"></i>
						<div class="cta-text">
							<h4>Call us</h4> <span>9876543210 0</span> </div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30">
					<div class="single-cta"> <i class="far fa-envelope-open"></i>
						<div class="cta-text">
							<h4>Mail us</h4> <span>mail@info.com</span> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-content pt-5 pb-5">
			<div class="row">
				<div class="col-xl-4 col-lg-4 mb-50">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html"><img src="/images/logo.png" style="width: 30%;" class="img-fluid" alt="logo"></a>
						</div>
						<div class="footer-text">
							<p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
						</div>
						<div class="footer-social-icon"> <span>Follow us</span> <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a> <a href="#"><i class="fab fa-twitter twitter-bg"></i></a> <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a> </div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
					<div class="footer-widget">
						<div class="footer-widget-heading">
							<h3>Useful Links</h3> </div>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">about</a></li>
							<li><a href="#">services</a></li>
							<li><a href="#">portfolio</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Our Services</a></li>
							<li><a href="#">Expert Team</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Latest News</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56156.74420205845!2d77.29870720945263!3d28.395213409169116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdc51b3598c0b%3A0x32bf713badede51c!2sSector%2015%20Market!5e0!3m2!1sen!2sin!4v1610535997264!5m2!1sen!2sin" class = "map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</footer>

<%- include("partials/footer") %>