html, body, p, li, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
}

html, body, html *, body * {
    cursor: none;
}

.cursor-dot, .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #fb383b;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: #fb383b
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#navbarTop {
    transition: background-color 1s;
}

.fixed-top {
    z-index: 1000;
}

.logoImage {
    width: 4.5rem;
    padding-left: 1.2rem;
}

.nav-item {
    padding: .3rem;
}

.nav-link {
    text-align: center;
    font-weight: 300;
}

.navbar-list {
    margin-right: 1rem;
}

#hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/slider-img-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}

#hero::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 135%;
    height: 96%;
    background: #000;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero::after {
        width: 180%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) rotate(0deg);
    }
    #hero::before {
        top: 0;
        width: 180%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
}

@media (max-width: 575px) {
    #hero h2 {
        font-size: 30px;
    }
    #hero::after {
        left: 40%;
        top: 0;
        width: 200%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) rotate(0deg);
    }
    #hero::before {
        left: 50%;
        top: 0;
        width: 200%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
}

.why-us .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    background: #fff;
}

.why-us .icon-box+.icon-box {
    margin-top: 50px;
}

.why-us .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background: #f3f8fa;
    border-radius: 6px;
    transition: 0.5s;
}

.why-us .icon-box .icon i {
    color: #68A4C4;
    font-size: 32px;
}

.why-us .icon-box:hover .icon {
    background: #68A4C4;
}

.why-us .icon-box:hover .icon i {
    color: #fff;
}

.why-us .icon-box .title {
    margin-left: 95px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.why-us .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.why-us .icon-box .title a:hover {
    color: #68A4C4;
}

.why-us .icon-box .description {
    margin-left: 95px;
    line-height: 24px;
    font-size: 14px;
}

.why-us .video-box {
    position: relative;
}

.why-us .video-box img {
    padding-top: 15px;
    padding-bottom: 15px;
}

.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#68A4C4 50%, rgba(104, 164, 196, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.why-us .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(104, 164, 196, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
    border-left: 15px solid #68A4C4;
    transform: scale(20);
}

.why-us .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

#banner_svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vh;
    transform: rotateY(-180deg);
    z-index: 1;
    height: 200px;
}

#banner_svg1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vh;
    top: calc(115vh - 200px);
    transform: rotateY(-180deg);
    z-index: 1;
    height: 200px;
}

#about-header-svg {
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    transform: rotateY(-180deg);
    z-index: 11;
    height: 200px;
}

@media screen and (max-width:991px) {
    #banner_svg {
        bottom: 0vh;
        height: 100px;
    }
    #banner_svg1 {
        bottom: 0vh;
        top: calc(115vh - 100px);
        height: 100px;
    }
    #about-header-svg {
        height: 100px;
        top: -100px;
    }
}

@media (max-width: 767px) {
    #banner_svg {
        bottom: 0vh;
        height: 100px;
    }
    #banner_svg1 {
        bottom: 0vh;
        top: calc(115vh - 100px);
        height: 100px;
    }
    #about-header-svg {
        height: 100px;
        top: -99px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    #banner_svg1 {
        bottom: 0vh;
        top: calc(115vh - 100px);
        height: 100px;
    }
    #banner_svg {
        height: 100px;
    }
    #about-header-svg {
        height: 100px;
        top: -100px;
    }
}

[class^="swiper-button-"], .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    transition: all 0.3s ease;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 80vh;
    transition: opacity 0.6s ease;
}

.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}

.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}

.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide .entity-img {
    display: none;
}

.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 80%;
    padding-left: 5%;
    color: #fff;
}

.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
}

.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    transform: translateX(50px);
}

.swiper-button-next {
    transform: translateX(-50px);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}

@media (max-width: 1180px) {
    .swiper-slide .content .title {
        font-size: 25px;
    }
    .swiper-slide .content .caption {
        font-size: 12px;
    }
}

@media (max-width: 1023px) {
    .swiper-container {
        height: 80vh;
    }
    .swiper-container.swiper-container-coverflow {
        padding-top: 0;
    }
}

.vlogsSection {
    margin: 10vh auto;
    margin-bottom: 20vh;
}

.vlogsHeading {
    text-align: center;
}

.verticalTextBlog {
    transform: rotateZ(90deg);
    transform-origin: left!important;
    margin-bottom: -18px;
    text-transform: uppercase;
    font-weight: 300;
}

.blogContainer {
    position: relative;
    max-width: 100%;
    margin-top: 15vh;
    background-color: #F2B6A0;
    padding-bottom: 20vh;
}

.blogTitle {
    text-transform: uppercase;
    margin-bottom: .1rem;
}

.hrDiv {
    height: 2px;
    background-color: black;
}

.blogText, .dateBlog, .hrDiv, .blogTitle {
    margin-left: 17px;
}

.blogText {
    padding-top: 1rem;
}

.dateBlog {
    font-weight: 300;
}

.blogCard {
    border: 1px solid rgba(0, 0, 0, 1);
    margin: .8rem auto;
}

.vlogVideoHome {
    min-width: 100%;
    min-height: 18rem;
    height: auto;
}

.vlogVideoHomeModal {
    min-width: 100%;
    min-height: 24rem;
}

.c-container {
    margin: auto;
    width: 93%;
    position: relative;
    z-index: 1;
}

.btn-outline-white {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: none;
    border-width: 2px;
    border-color: #fff;
    font-weight: 500;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.spacer {
    position: relative;
    max-width: 100%;
    margin-top: 15vh;
    background-color: #8a2be2;
}

.btn-outline-white:hover {
    background-color: #fff;
    color: var(--text-dark);
}

/* common css up */

.testimonial p {
    font-size: 28px;
    letter-spacing: 0.02em;
    line-height: 35px;
}

.testimonial .name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 35px;
    text-align: left;
}

.testimonial .designation {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    opacity: 0.65;
}

.unt {
    margin-bottom: 20px;
    margin-top: 60px;
}

.hero-text {
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #fff;
}

.gallery-thumbs {
    height: 100%;
}

.gallery-thumbs .swiper-wrapper {
    align-items: center;
}

.gallery-thumbs .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px !important;
    height: 330px;
    position: relative;
}

.gallery-thumbs .swiper-slide img {
    filter: contrast(0.5) blur(1px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-thumbs .swiper-slide-active img {
    filter: contrast(1) blur(0px) !important;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-row .flex-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial-section .quote {
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.swiper-container.testimonial {
    height: 100vh;
}

@media (max-width: 1030px) {
    .swiper-container.testimonial {
        height: 50vh;
    }
}

.testimonial-section .user-saying {
    background: var(--theme-color2);
    width: 60%;
    color: #fff;
    height: 100%;
}

.testi-user-img {
    width: 40%;
}

.testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.testimonial-section .quote p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    font-style: italic;
    margin: 0;
}

.quote-icon {
    width: 38px;
    display: block;
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .testimonial-section {
        display: block;
    }
    .testi-user-img {
        width: 100%;
    }
    .testimonial-section .user-saying {
        width: 100%;
    }
    .testimonial-section .quote {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.contactUs {
    background-color: #056CF2;
    max-width: 160%;
    padding: 2rem;
    position: relative;
    margin-top: 15vh;
    transform: translateX(-18.5%)!important;
    width: 160%;
    border-radius: 0 0 50% 50%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 10%;
}

.contactUs .row h1 {
    font-size: 3rem;
}

.contactUs .row h1, .contactUs .row h4 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: .7rem
}

input:focus~label, textarea:focus~label, input:valid~label, textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: .5rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: .7rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input, textarea {
    padding: 20px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #034eb1b6;
    color: white;
    border-radius: 4px;
}

input:focus, textarea:focus {
    outline: 0;
}

input:focus~span, textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 13em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}

.footer-section {
    background: #151414;
    position: relative;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #056CF2;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.map {
    height: 100%;
    width: 100%;
}

#title {
    position: relative;
    margin-top: 10vh;
}

.cont {
    padding: 3% 15% 8%;
    background-color: #ff4c68;
    overflow: hidden;
    position: relative;
}

/* Navigation Bar */

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.download-button svg {
    width: 1rem;
}

/* TITLE IMAGE */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width:1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}

.qualities {
    text-align: center;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */

.social-icon {
    margin: 20px 10px;
}

.about-page-heading {
    text-transform: uppercase;
    padding-left: 3rem;
    padding-top: 5rem;
}

.about-page-heading h1 {
    font-weight: 500;
}

.about-page-heading h6 {
    font-weight: 300;
}

.image-container {
    background-image: url("https://i.pinimg.com/originals/5c/c4/37/5cc4376397168770dcd287e4bb1e2d25.jpg");
    background-size: cover;
    position: relative;
    min-height: 30vh;
}

.text {
    background-color: white;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    line-height: 1.2;
    text-transform: uppercase;
    opacity: 1;
}

.about-page-text {
    padding: 2rem;
    font-weight: 400;
    padding-right: 0;
    font-size: .9rem;
    color: #000000;
}

.eternal-container-full-width {
    position: relative;
}

.bg-grey {
    background: #fafafa;
}

.eternal-container {
    text-align: center;
    z-index: 2;
    position: relative;
}

.name-container {
    text-align: right;
    text-transform: uppercase;
    padding: 0;
}

.name-container, .widget-title {
    border-right: 1px solid #a16733;
}

.eternal-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    position: absolute;
    padding-right: 50px;
    line-height: 1;
    top: -10px;
    right: 0;
}

a:hover, .main-color, .eternal-text-container .button a:hover, .eternal-subtitle, .service-type .item-features-title, .service-type .item-hover-container .item-features-title a, .active-cat, .blog-post-image a, .eternal-container .blog-post-info i, .eternal-container .item-counter i, .item-contact i, .eternal-image-header .post-category, .copyright a, .footer-social a:hover i, .bullet li:before, .quote .symbol-quote, ul.works-categories-list li:hover, .eternal-classic-title {
    color: #a16733;
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
    .eternal-container {
        width: 1100px;
    }
}

.eternal-container {
    width: 100%;
    margin: 0 auto;
}

.row-wm .col-xs-4 {
    width: calc(33.33333333% - 66.6px);
    padding: 0;
    position: relative;
}

.eternal-subtitle:after {
    width: 40px;
    height: 20px;
    color: red;
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
}

.eternal-subtitle:after, .blog-post-date:after {
    border-top: 1px solid #a16733;
}

.eternal-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding-right: 50px;
    margin-bottom: 0;
    letter-spacing: 2px;
    padding-top: 20px;
}

.description-container {
    margin-left: 33.3px;
}

.col-xs-8 {
    width: 66.66666667%;
}

.description-container .description {
    line-height: 1.7;
    text-align: justify;
    font-size: 16px;
}

.description-container .description {
    color: #707070;
}

.clear, .clearfix {
    clear: both;
}

.container-row {
    margin-top: 80px;
}

.container-row .col-xs-4:nth-child(1), .container-counter-row .col-xs-4:nth-child(1) {
    margin-right: 33.3px;
    margin-left: 33.3px;
}

.our-team .item-features {
    padding: 0;
    border: 0;
}

.row-wm .item-features {
    position: relative;
}

.item-team-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.our-team img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-team-container:hover .item-team-info {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}

.our-team .item-team-info {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(161, 103, 51, 0.8);
    padding: 20px;
    box-sizing: border-box;
    display: table;
    transition: opacity 0.3s ease 0s;
}

.item-team-info-container {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.item-team-info-container {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.item-portfolio-info-container, .item-team-info-container, .item-instagram-info-container {
    border: 1px solid #FFF;
}

.item-team-info-container a {
    color: white;
    font-size: 20px;
    padding: 0 1.5rem;
}

.item-team-member {
    border-left: 1px solid #a16733;
    border-bottom: 1px solid #a16733;
}

.item-team-member {
    width: 100%;
    margin: 0 auto;
    padding: 25px 10px;
    margin-top: 20px;
}

.item-team-member .team-member-name {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
}

.item-team-member .team-member-name {
    color: #000;
}

.item-team-member .team-member-profession {
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: block;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .about-page-heading {
        padding-left: 0;
    }
    .about-page-heading h1 {
        font-size: 1.6rem;
    }
    .about-page-text {
        padding-left: 0;
    }
    .row-wm .col-xs-4 {
        width: calc(90%);
        margin: 20px 5%;
    }
    .col-xs-8 {
        width: 90%;
    }
}

.centerText {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #707070;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.blog-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:768px) {
    .blog-background {
        min-height: 15rem;
    }
}

.services-image {
    max-width: 100%;
    max-height: 18rem;
}

.modalServices {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 540px) {
    .modalServices {
        min-height: 20rem;
    }
}